/*
Include atleast one manipulation per element
https://fonts.google.com/ for fonts

Arrowtown
#9a866e

Birch
#31281d

Quill Gray
#d4d4d2

Irish Coffee
#543623

css breaks after blank selectors. comment out empty selectors to test css. it wont work again until it see's another closing selector
*/

/* *{
    border: solid skyblue 2px;
    margin: 12px;
    color: #321;
} */

body {
    background-image: url(../images/kitchen-bg.jpg);
    background: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;

}

h1 {
    background-color: #00000022;
    color: #326;
    border: solid black;
    border-radius: 10px;
    text-align: center;
    font-family: cursive;
}

h2 {
    font-size: 30px;
    border: solid black 1px;
    border-top: 0000;
    border-radius: 10px;
    text-align: center;
}

/* h3 */

p {
    background-color: #aaa9;
    border-radius: 0.2em;
}

p.right-align {
    text-align: right;
    border: solid black;
    padding: 10px;
}

figure {
    text-align: center;
    border-color: black;
    }

img {
    text-align: center;
    padding: 1rem;
    background-color: #ddd9;
    border-radius: 0.3em;
}

figcaption {
    background-color: #3219;
    border-radius: 0.5em;
    color: #ddd;
}

ul {
    background-color: #321b;
    border-radius: 1em;
    max-width: 50em;
    text-align: center;
}

li {
    color: #ddd
}

form 

input

fieldset

legend

/* hr{
    color : black;
} */

/*  div {

 border: double cornflowerblue;

} */